.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  justify-content: space-evenly;
}
.container ul li {
  list-style-type: none;
}

/* Form View */
.container .form-view .input-form__wrapper {
  display: flex;
  flex-direction: column;
  padding: 4px;
}
.container .form-view .input-form__wrapper input {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #333;
}
.container .form-view .input-form__wrapper label {
  /* position: absolute;
  top: 0; */
}
