.App {
  text-align: center;
}

.App .open-modal {
  width: 200px;
  height: 50px;
  border: none;
  background-color: rgb(24, 56, 145);
  color: #fff;
  font-size: 1.2rem;
  border-radius: 4px;
  transition: transform 0.2s; /* Animation */
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  justify-content: space-evenly;
}
.container ul li {
  list-style-type: none;
}

.ReactModal__Content.ReactModal__Content--after-open button.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  margin: 7px;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.ReactModal__Content.ReactModal__Content--after-open {
  width: 400px;
  height: 300px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
