.App {
  text-align: center;
}

.App .open-modal {
  width: 200px;
  height: 50px;
  border: none;
  background-color: rgb(24, 56, 145);
  color: #fff;
  font-size: 1.2rem;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  justify-content: space-evenly;
}
.container ul li {
  list-style-type: none;
}

.ReactModal__Content.ReactModal__Content--after-open button.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  margin: 7px;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
}
